/* General Styles */
body {
    font-family: 'Orev', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fffef5; /* Light background color */
    color: #030303; /* Default text color */
  }

  body h1,h2,h3,h4,h5,h6,p {
    margin-block-start: 0rem;
    margin-block-end: 0rem;
  }
  
  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 1rem 4rem;
    padding-top: 2rem;
    background-color: transparent;
    z-index: 1000;
  }
  
  header .logo a {
    font-size: 3.5rem;
    color: #ee5b07; /* Logo color */
    text-decoration: none;
    font-weight: bold;
  }
  
  header nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #741e00;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    transition: color 0.3s ease;
  }

  header nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #f14405;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
  }
  
  header nav ul li a.contact-btn {
    background-color: transparent;
    color: #f14405;
    padding: 0.5rem 1rem;
    border-radius: 25px;
  }
  
  header nav ul li a:hover {
    color: #f14405;
  }

  header nav ul li a:hover::after {
    width: 100%;
    left: 0;
    background: #f14405;
  }
  
  /* Hero Section */
  #hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 4rem;
  }
  
  #hero .text {
    width: 600px;
    max-width: 50%;
    cursor: default;
  }

  #hero .my-image img {
    height: 400px;
    width: 400px;
    margin-right: 100px;
    cursor: url(crosshair.svg) 12 12, auto;
  }
  
  #hero h1 {
    font-size: 4.3rem;
    color: #f14405;
    margin-bottom: 1.5rem;
    height: 55px;
  }
  
  #hero h2 {
    font-size: 2.3rem;
    color: #741e00;
    margin-bottom: 0.2rem;
  }
  
  #hero p {
    font-size: 1.8rem;
    color: #741e00;
    margin-bottom: 2rem;
  }

  #hero .button-icons {
    display: flex;
    align-items: center;
    fill: #ee5b07;
  }

  #hero .button-icons svg {
    height: 24px;
  }
  
  #hero button {
    font-family: orev;
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #f14405;
    border: 2px solid;
    padding: 0.8rem 2rem;
    border-radius: 25px;
    cursor: pointer;
    gap: 15px;
    transition: 0.5 ease;
  }

  button a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }

  button a span {
      margin-right: 8px; /* Adjust as needed */
  }

  #hero button:hover {
    background-color: #f14405;
    border-color:#f14405;
    color: #f2f0e4;
    fill: #f2f0e4;
    transition: 0.5s ease;
  }

  #hero .icon-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-left: 10px;
    gap: 20px;
  }

  #hero .icon {
    height: 46px;
    width: 46px;
    cursor: pointer;
    fill: #ee5b07;
  }

  #hero .icon svg {
    background-color: transparent;
    border: 2px solid;
    border-color: #f14405;
    border-radius: 25px;
    padding: 0.5rem;
    transition: 0.5s ease;
  }

  #hero .icon svg:hover {
    background-color: #f14405;
    border: 2px solid;
    border-color: #f14405;
    border-radius: 25px;
    padding: 0.5rem;
    fill: #f2f0e4;
    transition: 0.5s ease;
  }
  
  /* Services Section */
  #services {
    padding: 4rem 4rem;
    background-color: rgb(241 136 13 / 8%); /* Transparent orange background */
  }
  
  #services h2 {
    text-align: center;
    font-size: 3.125rem;
    color: #ee5b07;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  
  .service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-bottom: 4rem;
  }
  
  .service-item {
    background-color: #ffffff80;
    height: 290px;
    border: 1px solid #ffd0;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
  }

  .service-icon {
    height: 35px;
    width: 35px;
    background: #ee5b07;
    fill: white;
    border-radius: 20px;
    margin-bottom: 70px;
    padding: 1rem;
  }
  
  .service-item h3 {
    font-size: 2rem;
    text-align: left;
    color: #f14405;
    margin: 1rem 0;
  }

  .service-item ul {
    padding: 0 0 0 1rem;
  }

  .service-item li {
    color: #741e00;
    font-size: 1.3rem;
    text-align:left;
    height: 1.9rem;
  }

  /* Skills Section */
  #skills {
    padding: 4rem 4rem;
  }
  
  #skills h2 {
    text-align: center;
    font-size: 3.125rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: #ee5b07;
  }
  
  .skill-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 2rem;
    justify-items: center;
    align-content: center;
  }
  
  .skill-item {
    text-align: center;
    width: 210px;
    margin-bottom: 2rem;
  }

  .skill-box {
    background-color: #ee5b071a;
    color: #555;
    height: 160px;
    border: 2px solid transparent;
    border-radius: 25px;
    padding: 1.5rem;
    text-align: center;
    transition: background-color 0.5s ease, transform 0.5s ease, filter 0.5s ease;
    opacity: 1;
    filter: grayscale(80%);
  }

  .skill-box:hover {
    background-color: #741e00;
    border-color: #ee5b07;
    color: whitesmoke;
    /* opacity: 1; */
    filter: grayscale(0%);
  }

  .skill-box:hover svg {
    width: 90px;
    fill: #ee5b07;
    /* transform: scale(1); */
    transition: 0.5s ease;
  }

  .skill-box svg {
    height: 90px;
    width: 70px;
    margin: 15px 0;
    transition: fill 0.5s ease, transform 0.5s ease;
  }

  .skill-indicator {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
  }

  .skill-indicator .indicator-box {
    width: 10px;
    height: 10px;
    margin: 0 2px;
    background-color: #ddd;
    transition: background-color 0.3s ease;
  }

  .skill-indicator .indicator-box.active {
    background-color: #f14405;
  }

  .skill-indicator {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
  }

  .skill-indicator div {
    width: 10px;
    height: 10px;
    margin: 0 2px;
    background-color: #ddd;
    transition: background-color 0.3s ease;
  }

  .skill-indicator div.active {
    background-color: #f14405;
  }

  .skill-text {
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 1.3rem;
    color: #ee5b07;
  }
  
  /* Works Section */
  #works {
    padding: 4rem 4rem;
    background-color: rgb(241 136 13 / 8%); /* Transparent orange background */
  }
  
  #works h2 {
    text-align: center;
    font-size: 3.125rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: #ee5b07;
  }

  .filter-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .filter-menu-group {
      display: inline-block;
      padding: 6px 8px;
      border-radius: 40px;
      background: #fffcfc;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }

  .filter-menu-group button {
      font-family: orev;
      border: none;
      outline: none;
      background: none;
      padding: 10px 20px;
      font-size: 1.2rem;
      color: #ee5b07;
      border-radius: 35px;
      cursor: pointer;
      transition: all 0.3s ease;
  }

  .filter-menu-group button.active {
      background: #ee5b07;
      color: #ffffff;
      box-shadow: 0px 4px 10px rgba(107, 72, 242, 0.3);
  }
  
    .scrollable-gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 2rem;
    max-height: 700px;
    overflow-y: auto;
    padding: 20px 20px;
    margin: 0 20px;
    background-color: transparent;
    border-radius: 10px;
    scroll-behavior: smooth; /* Enable smooth scrolling */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }

  .scrollable-gallery::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
  
  .item {
    position: relative;
    display: flex;
    align-self: center;
    justify-self: center;
    height: 300px;
    width: 550px;
    background-color: #e9dfc8;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 36px 36px 0;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .item:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
  }

  .item img {
    border-radius: 6px 6px 0 0;
    height: auto;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
  }

  .item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .item:hover .item-info {
    transform: translateY(0);
    opacity: 1;
  }
  
  /* Footer */
  footer {
    /* background-color: #333; */
    color: #f2f0e4;
    text-align: center;
  }
  
  footer #info {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    background-color: rgb(241 136 13);
    gap: 2rem;
    padding: 1.5rem 4rem;
    margin-bottom: 1rem;
  }

  footer .logo a {
    font-size: 3.5rem;
    color: #ee5b07; /* Logo color */
    text-decoration: none;
    font-weight: bold;
  }

  footer nav ul {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 0;
  }

  footer nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  
  footer nav ul li a {
    text-decoration: none;
    color: #741e00;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    transition: color 0.3s ease;
  }

  footer nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #f14405;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
  }

  footer nav ul li a:hover {
    color: #f14405;
  }

  footer nav ul li a:hover::after {
    width: 100%;
    left: 0;
    background: #f14405;
  }
  
  footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-left: 10px;
    fill: #ee5b07;
    gap: 3rem;
  }

  footer .icon {
    height: 46px;
    width: 46px;
    cursor: pointer;
    fill: #ee5b07;
  }

  footer .icon svg {
    background-color: transparent;
    border: 2px solid;
    border-color: #f14405;
    border-radius: 25px;
    padding: 0.5rem;
    transition: 0.5s ease;
  }

  footer .icon svg:hover {
    background-color: #f14405;
    border: 2px solid;
    border-color: #f14405;
    border-radius: 25px;
    padding: 0.5rem;
    fill: #f2f0e4;
    transition: 0.5s ease;
  }
  
  footer .copyright {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
    padding: 20px;
    color: #702b03;
  }

/* Sticky Header */
#sticky-header {
  position: fixed;
  top: -150px;
  left: 0;
  right: 0;
  padding-top: 1rem;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  transition: top 0.3s ease;
}

#sticky-header.visible {
    top: 0;
}
