body {
  font-family: 'Oswald', sans-serif;
  cursor: none !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ece8e7;
  color: #1c1b1b;
}

body h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  font-family: 'Oswald', sans-serif;
}

/* Light Mode (default) */
:root {
  --background-color: 236, 232, 231;
  --text-color: 28, 27, 27;
  --primary-color: 154, 126, 106;
  --secondary-color: 101, 129, 149;
  --highlight-color: 204, 169, 145;
  --light-color: 212, 201, 178;
  --section-color: 176, 176, 176;
  --shadow-color: 0, 0, 0;
  --shadow-invert-color: 255, 255, 255;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 1rem 4rem;
  padding-top: 2rem;
  background-color: transparent;
  z-index: 1;
  flex-wrap: wrap;
  /* Make header responsive */
  align-content: center;
  position: relative;
}

header .logo a {
  font-size: 2rem;
  color: #766457;
  text-decoration: none;
  font-weight: 700;
  cursor: none;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  /* Make navigation responsive */
}

header nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #1c1b1b;
  font-weight: 500;
  font-size: 1.2rem;
  position: relative;
  padding: 0 1rem;
  cursor: none;
  transition: color 0.3s ease;
}

header nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #766457;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

header nav ul li a.contact-btn {
  background-color: transparent;
  color: #766457;
  padding: 0 1rem;
  border-radius: 25px;
}

header nav ul li a:hover {
  color: #9a7e6a;
}

header nav ul li a:hover::after {
  width: 100%;
  left: 0;
  background: #1c1b1b;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  width: auto;
  background-color: transparent;
  padding: 0;
}

header nav.active {
  display: flex;
}


footer#contact {
  background-color: #333;
  padding: 3rem 4rem;
  padding-top: 6rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 40% 60%;
}

/* Left Box Styling */
.left-box {
  padding: 1rem;
}

.left-box h2 {
  font-size: 8rem;
  color: #00000000;
  -webkit-text-stroke: 2px #9a7e6a;
  line-height: 1;
  margin-bottom: 2rem;
}

.left-box .separator {
  border-bottom: 1px solid #ececec;
  margin: 1rem 0;
  width: 400px;
}

.left-box p {
  color: #ece8e7;
  font-weight: 100;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 0.6rem;
}

.left-box a {
  color: #ece8e7;
  text-decoration: none;
}

/* Right Box Styling */
.right-box {
  padding: 1rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.right-box h3 {
  color: #ece8e7;
  font-size: 2rem;
  font-weight: 500;
}

footer .quick-links nav ul {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: flex-start;
  /* Align items to the left */
  list-style: none;
  padding: 0;
  gap: 20px;
  /* Adjust the gap between items as needed */
}

footer .quick-links nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 0px;
  margin-right: 20px;
}

footer .quick-links nav ul li a {
  text-decoration: none;
  color: #ece8e7;
  /* Same color as header navigation */
  font-weight: 300;
  font-size: 1.2rem;
  position: relative;
  padding: 0px 0rem;
  padding-right: 1rem;
  cursor: none;
  transition: color 0.3s ease;
}

footer .quick-links nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #766457;
  /* Same color as header navigation */
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

footer .quick-links nav ul li a:hover {
  color: #9a7e6a;
  /* Same hover color as header navigation */
}

.right-box ul {
  list-style: none;
  padding: 0;
}

footer .social-media {
  margin-top: 4rem;
}

footer .social-media .social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Align items to the left */
  gap: 40px; /* Adjust the gap between items as needed */
  margin: 20px 0;
}

footer .social-media .social-links a {
  display: inline-block;
  fill: #9a7e6a; /* Set the fill color */
  transition: fill 0.3s ease;
}

footer .social-media .social-links a svg {
  width: 48px;
  height: 48px;
}

.right-box .social-media ul li a {
  color: #9a7e6a;
}

/* Sticky Header */
#sticky-header {
  position: fixed;
  top: -150px;
  left: 0;
  right: 0;
  padding: 0.5rem 4rem;
  /* border-radius: 100px; */
  background-color: rgba(var(--shadow-invert-color), 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 1px 12px rgba(var(--shadow-color), 0.1);
  z-index: 1001;
  transition: top 0.3s ease;
}

#sticky-header.visible {
  top: 0;
}
